<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	
	<!-- Allow JMX Management of Logback -->
	<jmxConfigurator />
	
	<!-- Default configuration properties -->
	<property name="DEFAULT_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

	
	<!-- Standard out console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${DEFAULT_PATTERN}</pattern>
		</encoder>
	</appender>
	

	<!-- Root logger -->
	<root level="warn">
		<appender-ref ref="STDOUT" />
	</root>

	<!-- Keen IO SDK -->
	<logger name="io.keen" level="info"/>
	
	<!-- Flyway SDK -->
	<logger name="org.flywaydb" level="info" />
	<logger name="io.devyse.scheduler.persist" level="debug" />

	<!-- Oracle & Sun JRE classes -->
	<logger name="java" level="info"/>
	<logger name="javax" level="info"/>
	<logger name="sun" level="info"/>
	<logger name="sunw" level="info"/>
	<logger name="com.sun" level="info"/>

	<!-- Legacy Scheduler classes -->
	<logger name="Scheduler" level="info"/>
	
	<!-- Devyse IO Course Scheduler -->
	<logger name="io.devyse" level="info"/>


	<!-- ContextListener that ensures JUL logging is as efficient as possible by propogating log levels to JUL -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

	
</configuration>